In [1]:
# pip install pandas
# pip install scikit-learn

In [2]:
import pandas as pd
import numpy as np

In [3]:
ajdata = pd.read_html("https://www.baseball-reference.com/players/j/judgeaa01.shtml")

In [4]:
ajdata[1]

,Season,Age,Team,Lg,WAR,G,PA,AB,R,H,...,rOBA,Rbat+,TB,GIDP,HBP,SH,SF,IBB,Pos,Awards
0,2016,24,NYY,AL,-0.3,27,95,84,10,15,...,0.272,60,29,2,1,0,1,0,9/H,NaN
1,2017,25,NYY,AL,8.1,155,678,542,128,154,...,0.435,172,340,15,5,0,4,11,*9D/H,"AS,MVP-2,ROY-1,SS"
2,2018,26,NYY,AL,6.0,112,498,413,77,115,...,0.396,152,218,10,4,0,5,3,9D/H8,"AS,MVP-12"
3,2019,27,NYY,AL,5.6,102,447,378,75,103,...,0.393,148,204,11,3,0,1,4,9D/H,NaN
4,2020,28,NYY,AL,1.1,28,114,101,23,26,...,0.379,145,56,5,2,0,0,0,9/DH,NaN
5,2021,29,NYY,AL,5.9,148,633,550,89,158,...,0.392,150,299,16,3,0,5,2,*98D/H,"AS,MVP-4,SS"
6,2022,30,NYY,AL,10.8,157,696,570,133,177,...,0.463,208,391,14,6,0,5,19,*89D/H,"AS,MVP-1,SS"
7,2023,31,NYY,AL,4.6,106,458,367,79,98,...,0.421,172,225,5,0,0,3,9,9D8/H,"AS,MVP-15"
8,2024,32,NYY,AL,10.8,158,704,559,122,180,...,0.484,223,392,22,9,0,2,20,*8D/97,"AS,MVP-1,SS"
9,2025,33,NYY,AL,6.8,113,501,409,95,136,...,0.457,208,282,12,4,0,5,28,9D/H,AS
10,10 Yrs,10 Yrs,10 Yrs,10 Yrs,59.4,1106,4824,3973,831,1162,...,0.429,177,2436,112,37,0,31,96,98DH/7,NaN
11,162 Game Avg,162 Game Avg,162 Game Avg,162 Game Avg,8.7,162,707,582,122,170,...,0.429,177,357,16,5,0,5,14,NaN,NaN

In [19]:
players = pd.read_html("https://en.wikipedia.org/wiki/List_of_active_Major_League_Baseball_players_by_country_of_birth")
len(players)

31

In [15]:
for idx in range(len(players)):
    print(f"INDEX: {idx}: \n{players[idx]}")

INDEX: 0:
    0                                                  1
0 NaN  This article needs to be updated. Please help ...
INDEX: 1:
    Rank  Country (or possession)     #      %
0      1            United States  1072  73.7%
1      2       Dominican Republic   142   9.8%
2      3                Venezuela    91   6.3%
3      4                     Cuba    33   2.3%
4      5              Puerto Rico    27   1.9%
5      6                   Canada    17     1%
6      7                   Mexico    16   1.1%
7      8                    Japan    11   0.8%
8      9                 Colombia     9   0.6%
9     10                   Panama     8   0.6%
10    11  Curaçao[a]  South Korea     4   0.3%
11    13                Nicaragua     3   0.2%
12    14           Multiple[b][c]     2   0.1%
13    18        Multiple[d][e][f]     1   0.1%
INDEX: 2:
           Name            Team Bats Throws          Date of Birth  Seasons
0  Tayler Scott  Houston Astros    R      R  June 1, 1992 (age 33)        5
INDEX: 3:
              Name               Tem Bats Throws             Date of Birth  \
0  Xander Bogaerts  San Diego Padres    R      R  October 1, 1992 (age 32)
1   Chadwick Tromp    Boston Red Sox    R      R   March 21, 1995 (age 30)

   Seasons
0       13
1        6
INDEX: 4:
                Name              Team Bats Throws              Date of Birth  \
0  Jazz Chisholm Jr.  New York Yankees    L      R  February 1, 1998 (age 27)

   Seasons
0        6
INDEX: 5:
        Name       Team(s) Bats Throws           Date of Birth  Seasons
0  Yan Gomes  Chicago Cubs    R      R  July 19, 1987 (age 38)       12
INDEX: 6:
                     Name                   Team Bats Throws  \
0             Tyler Black      Milwaukee Brewers    L      R
1              Matt Brash       Seattle Mariners    R      R
2            Owen Caissie           Chicago Cubs    L      R
3           Denzel Clarke              Athletics    R      R
4   Vladimir Guerrero Jr.      Toronto Blue Jays    R      R
5              Liam Hicks          Miami Marlins    L      R
6          Edouard Julien        Minnesota Twins    L      R
7               Bo Naylor    Cleveland Guardians    L      R
8             Josh Naylor       Seattle Mariners    L      L
9           Tyler O'Neill      Baltimore Orioles    R      R
10         Tristan Peters         Tampa Bay Rays    L      R
11           Nick Pivetta       San Diego Padres    R      R
12               Zach Pop           Chicago Cubs    R      R
13          Cal Quantrill          Miami Marlins    L      R
14          Jordan Romano  Philadelphia Phillies    R      R
15         Erik Sabrowski    Cleveland Guardians    R      L
16             Cade Smith    Cleveland Guardians    R      R
17         Michael Soroka           Chicago Cubs    R      R
18           Abraham Toro         Boston Red Sox    S      R
19            Jared Young          New York Mets    L      R
20          Rob Zastryzny      Milwaukee Brewers    R      L

                  Date of Birth  Seasons
0        July 26, 2000 (age 25)        2
1         May 12, 1998 (age 27)        3
2         July 8, 2002 (age 23)        1
3          May 1, 2000 (age 25)        1
4       March 16, 1999 (age 26)        7
5         June 2, 1999 (age 26)        1
6       April 30, 1999 (age 26)        3
7    February 21, 2000 (age 25)        4
8        June 22, 1997 (age 28)        7
9        June 22, 1995 (age 30)        8
10   February 29, 2000 (age 25)        1
11   February 14, 1993 (age 32)        9
12  September 20, 1996 (age 28)        5
13   February 10, 1995 (age 30)        7
14      April 21, 1993 (age 32)        7
15    October 31, 1997 (age 27)        2
16         May 9, 1999 (age 26)        2
17      August 4, 1997 (age 28)        6
18   December 10, 1996 (age 28)        7
19        July 9, 1995 (age 30)        3
20      March 26, 1992 (age 33)        7
INDEX: 7:
              Name                Team Bats Throws  \
0  Gustavo Campero  Los Angeles Angels    S      R
1   Didier Fuentes      Atlanta Braves    R      R
2    José Quintana   Milwaukee Brewers    R      L
3   Donovan Solano    Seattle Mariners    R      R
4      Gio Urshela           Athletics    R      R

                 Date of Birth  Seasons
0  September 20, 1997 (age 27)        2
1       June 17, 2005 (age 20)        1
2    January 24, 1989 (age 36)       14
3   December 17, 1987 (age 37)       12
4    October 11, 1991 (age 33)       10
INDEX: 8:
                   Name                  Team Bats Throws  \
0        Yordan Alvarez        Houston Astros    L      R
1       Randy Arozarena      Seattle Mariners    R      R
2          José Barrero     Baltimore Orioles    R      R
3         Dairon Blanco    Kansas City Royals    R      R
4          Yennier Canó     Baltimore Orioles    R      R
5       Aroldis Chapman        Boston Red Sox    L      L
6     Nestor Cortes Jr.      San Diego Padres    R      L
7            Yandy Díaz        Tampa Bay Rays    R      R
8        Lázaro Estrada     Toronto Blue Jays    R      R
9    Yanquiel Fernández      Colorado Rockies    L      L
10        Adolis García         Texas Rangers    R      R
11  Lourdes Gurriel Jr.  Arizona Diamondbacks    R      R
12         Yuli Gurriel      San Diego Padres    R      R
13    Daysbel Hernández        Atlanta Braves    R      R
14          Andy Ibáñez        Detroit Tigers    R      R
15        José Iglesias      San Diego Padres    R      R
16      Raisel Iglesias        Atlanta Braves    R      R
17       Víctor Mederos    Los Angeles Angels    R      R
18      Víctor Mesa Jr.         Miami Marlins    L      L
19         Yoán Moncada    Los Angeles Angels    S      R
20         Luis Morales             Athletics    R      R
21       Adrián Morejón      San Diego Padres    L      L
22         Johan Oviedo    Pittsburgh Pirates    R      R
23           Andy Pages   Los Angeles Dodgers    R      R
24         Cionel Pérez     Baltimore Orioles    R      L
25          Edgar Quero     Chicago White Sox    S      R
26      Orlando Ribalta  Washington Nationals    R      R
27      Luis Robert Jr.     Chicago White Sox    R      R
28     Yariel Rodríguez     Toronto Blue Jays    R      R
29          Jorge Soler    Los Angeles Angels    R      R
30        Miguel Vargas     Chicago White Sox    R      R
31       Yosver Zulueta       Cincinnati Reds    R      R

                  Date of Birth  Seasons
0        June 27, 1997 (age 28)        7
1    February 28, 1995 (age 30)        7
2        April 5, 1998 (age 27)        5
3       April 26, 1993 (age 32)        4
4        March 9, 1994 (age 31)        4
5    February 28, 1988 (age 37)       16
6    December 10, 1994 (age 30)        8
7       August 8, 1991 (age 34)        9
8       April 24, 1999 (age 26)        1
9      January 1, 2003 (age 22)        1
10       March 2, 1993 (age 32)        7
11    October 10, 1993 (age 31)        8
12        June 9, 1984 (age 41)       10
13  September 15, 1996 (age 28)        3
14       April 3, 1993 (age 32)        5
15     January 5, 1990 (age 35)       13
16     January 4, 1990 (age 35)       11
17        June 8, 2001 (age 24)        3
18   September 8, 2001 (age 23)        1
19        May 27, 1995 (age 30)       10
20  September 24, 2002 (age 22)        1
21   February 27, 1999 (age 26)        7
22       March 2, 1998 (age 27)        5
23    December 8, 2000 (age 24)        2
24      April 21, 1996 (age 29)        8
25       April 6, 2003 (age 22)        1
26       March 5, 1998 (age 27)        2
27      August 3, 1997 (age 28)        6
28      March 10, 1997 (age 28)        2
29   February 25, 1992 (age 33)       12
30   November 17, 1999 (age 25)        4
31    January 23, 1998 (age 27)        2
INDEX: 9:
               Name              Team Bats Throws                Date of Birth
0      Ozzie Albies    Atlanta Braves    S      R     January 7, 1997 (age 28)
1     Kenley Jansen    Boston Red Sox    S      R  September 30, 1987 (age 37)
2  Jurickson Profar  San Diego Padres    S      R   February 20, 1993 (age 32)
3  Ceddanne Rafaela    Boston Red Sox    R      R  September 18, 2000 (age 24)
INDEX: 10:
                Name                  Team Bats Throws  \
0       Albert Abreu         Texas Rangers    R      R
1        Bryan Abreu        Houston Astros    R      R
2    Domingo Acevedo     Oakland Athletics    R      R
3          Joan Adon  Washington Nationals    R      R
4     Hanser Alberto   Los Angeles Dodgers    R      R
..               ...                   ...  ...    ...
150    Yefry Ramírez   Los Angeles Dodgers    R      R
151      Yennsy Díaz         New York Mets    R      R
152  Yermín Mercedes     Chicago White Sox    R      R
153      Yimi García     Toronto Blue Jays    R      R
154    Yohan Ramírez   Cleveland Guardians    R      R

                   Date of Birth  Seasons
0    September 26, 1995 (age 29)        2
1        April 22, 1997 (age 28)        3
2         March 6, 1994 (age 31)        1
3       August 12, 1998 (age 27)        1
4      October 17, 1992 (age 32)        6
..                           ...      ...
150   November 28, 1993 (age 31)        3
151   November 15, 1996 (age 28)        2
152   February 14, 1993 (age 32)        2
153     August 18, 1990 (age 34)        7
154         May 6, 1995 (age 30)        2

[155 rows x 6 columns]
INDEX: 11:
             Name            Team Bats Throws           Date of Birth  Seasons
0  Mauricio Dubón  Houston Astros    R      R  July 19, 1994 (age 31)        4
INDEX: 12:
                    Name                  Team Bats Throws  \
0        Jonathan Aranda        Tampa Bay Rays    L      R
1           Victor Arano  Washington Nationals    R      R
2           Javier Assad          Chicago Cubs    R      R
3         Manny Banuelos    Pittsburgh Pirates    R      L
4   Humberto Castellanos  Arizona Diamondbacks    R      R
5             Luis Cessa       Cincinnati Reds    R      R
6             Jesús Cruz        Atlanta Braves    R      R
7          Daniel Duarte       Cincinnati Reds    R      R
8      Giovanny Gallegos   St. Louis Cardinals    R      R
9          Luis González  San Francisco Giants    L      L
10        Alejandro Kirk     Toronto Blue Jays    R      R
11           Alejo López       Cincinnati Reds    S      R
12       Adrián Martínez     Oakland Athletics    R      R
13          Joey Meneses  Washington Nationals    R      R
14          Andrés Muñoz      Seattle Mariners    R      R
15         Isaac Paredes        Tampa Bay Rays    R      R
16        Esteban Quiroz          Chicago Cubs    L      R
17         Gerardo Reyes    Los Angeles Angels    R      R
18      Manuel Rodríguez          Chicago Cubs    R      R
19           Julio Urías   Los Angeles Dodgers    L      L
20            Luis Urías     Milwaukee Brewers    R      R
21           Ramón Urías     Baltimore Orioles    R      R
22          José Urquidy        Houston Astros    R      R

                  Date of Birth  Seasons
0         May 23, 1998 (age 27)        1
1     February 7, 1995 (age 30)        4
2        July 30, 1997 (age 28)        1
3       March 13, 1991 (age 34)        3
4        April 3, 1998 (age 27)        3
5       April 25, 1992 (age 33)        7
6       April 15, 1995 (age 30)        2
7     December 4, 1996 (age 28)        1
8      August 14, 1991 (age 34)        6
9   September 10, 1995 (age 29)        3
10    November 6, 1998 (age 26)        3
11         May 5, 1996 (age 29)        2
12   December 10, 1996 (age 28)        1
13         May 6, 1992 (age 33)        1
14    January 16, 1999 (age 26)        3
15   February 18, 1999 (age 26)        3
16   February 17, 1992 (age 33)        1
17        May 13, 1993 (age 32)        2
18      August 6, 1996 (age 29)        2
19     August 12, 1996 (age 29)        7
20        June 3, 1997 (age 28)        5
21        June 3, 1994 (age 31)        3
22         May 1, 1995 (age 30)        4
INDEX: 13:
                Name               Team Bats Throws  \
0     Erasmo Ramírez     Tampa Bay Rays    R      R
1  Jonathan Loáisiga   New York Yankees    R      R
2   Carlos Rodríguez  Milwaukee Brewers    R      R

                Date of Birth  Seasons
0        May 2, 1990 (age 35)       11
1   November 2, 1994 (age 30)        5
2  November 27, 2001 (age 23)        1
INDEX: 14:
                     Name                   Team Bats Throws  \
0            Miguel Amaya           Chicago Cubs    R      R
1          Jonathan Araúz      Baltimore Orioles    S      R
2            Jaime Barría     Los Angeles Angels    R      R
3   Christian Bethancourt         Tampa Bay Rays    R      R
4          José Caballero         Tampa Bay Rays    R      R
5           Johan Camargo  Philadelphia Phillies    S      R
6            Paolo Espino   Washington Nationals    R      R
7             Javy Guerra         Tampa Bay Rays    L      R
8            Iván Herrera    St. Louis Cardinals    R      R
9             Leo Jiménez      Toronto Blue Jays    R      R
10        Justin Lawrence       Colorado Rockies    R      R
11           Edmundo Sosa  Philadelphia Phillies    R      R

                  Date of Birth  Seasons
0        March 9, 1999 (age 26)        2
1       August 3, 1998 (age 27)        3
2        July 18, 1996 (age 29)        5
3    September 2, 1991 (age 33)        3
4      August 30, 1996 (age 28)        2
5    December 13, 1993 (age 31)        6
6     January 10, 1987 (age 38)        4
7   September 25, 1995 (age 29)        4
8         June 1, 2000 (age 25)        1
9         May 17, 2001 (age 24)        1
10   November 25, 1994 (age 30)        2
11       March 6, 1996 (age 29)        4
INDEX: 15:
            Name           Team Bats Throws                Date of Birth  \
0  Jesús Luzardo  Miami Marlins    L      L  September 30, 1997 (age 27)

   Seasons
0        4
INDEX: 16:
                 Name                  Team Bats Throws  \
0        José Berríos     Toronto Blue Jays    R      R
1         Javier Báez        Detroit Tigers    R      R
2     Víctor Caratini     Milwaukee Brewers    S      R
3        Willi Castro       Minnesota Twins    S      R
4        Alex Claudio         New York Mets    L      L
5       Carlos Correa       Minnesota Twins    R      R
6       Fernando Cruz       Cincinnati Reds    R      R
7         Alexis Díaz       Cincinnati Reds    R      R
8          Edwin Díaz         New York Mets    R      R
9     Mario Feliciano     Milwaukee Brewers    R      R
10  Enrique Hernández        Boston Red Sox    R      R
11        Joe Jiménez        Atlanta Braves    R      R
12   Francisco Lindor         New York Mets    S      R
13        Jorge López       Minnesota Twins    R      R
14      Vimael Machín     Oakland Athletics    L      R
15   Martín Maldonado        Houston Astros    R      R
16       José Miranda       Minnesota Twins    R      R
17      Yadier Molina   St. Louis Cardinals    R      R
18       Jovani Morán       Minnesota Twins    L      L
19         Tomás Nido         New York Mets    R      R
20      Michael Pérez         New York Mets    L      R
21      Roberto Pérez    Pittsburgh Pirates    R      R
22       Heliot Ramos  San Francisco Giants    R      R
23    Emmanuel Rivera  Arizona Diamondbacks    R      R
24      Eddie Rosario        Atlanta Braves    L      R
25         Edwin Ríos   Los Angeles Dodgers    L      R
26  Christian Vázquez        Houston Astros    R      R
27   Nelson Velázquez          Chicago Cubs    R      R

                  Date of Birth  Seasons
0         May 27, 1994 (age 31)        7
1     December 1, 1992 (age 32)        9
2      August 17, 1993 (age 32)        6
3       April 24, 1997 (age 28)        4
4     January 31, 1992 (age 33)        9
5   September 22, 1994 (age 30)        8
6       March 28, 1990 (age 35)        1
7   September 28, 1996 (age 28)        1
8       March 22, 1994 (age 31)        7
9    November 20, 1998 (age 26)        2
10     August 24, 1991 (age 33)        9
11    January 17, 1995 (age 30)        6
12   November 14, 1993 (age 31)        8
13   February 10, 1993 (age 32)        7
14  September 25, 1993 (age 31)        3
15     August 16, 1986 (age 39)       12
16       June 29, 1998 (age 27)        1
17       July 13, 1982 (age 43)       19
18      April 24, 1997 (age 28)        2
19      April 12, 1994 (age 31)        6
20      August 7, 1992 (age 33)        5
21   December 23, 1988 (age 36)        9
22   September 7, 1999 (age 25)        1
23       June 29, 1996 (age 29)        2
24  September 28, 1991 (age 33)        8
25      April 21, 1994 (age 31)        4
26     August 21, 1990 (age 34)        8
27   December 26, 1998 (age 26)        1
INDEX: 17:
              Name                   Team Bats Throws  \
0      A. J. Alexy          Texas Rangers    R      R
1       A. J. Cole      Toronto Blue Jays    R      R
2     A. J. Minter         Atlanta Braves    L      L
3        A. J. Puk      Oakland Athletics    L      L
4      Aaron Ashby      Milwaukee Brewers    R      L
...            ...                    ...  ...    ...
1080   Zack Godley      Milwaukee Brewers    R      R
1081  Zack Greinke     Kansas City Royals    R      R
1082  Zack Littell   San Francisco Giants    R      R
1083    Zack Short         Detroit Tigers    R      R
1084  Zack Wheeler  Philadelphia Phillies    L      R

                   Date of Birth  Seasons
0        April 21, 1998 (age 27)        1
1       January 5, 1992 (age 33)        7
2     September 2, 1993 (age 31)        5
3        April 25, 1995 (age 30)        2
4          May 24, 1998 (age 27)        1
...                          ...      ...
1080     April 21, 1990 (age 35)        7
1081   October 21, 1983 (age 41)       19
1082    October 5, 1995 (age 29)        4
1083       May 29, 1995 (age 30)        1
1084       May 30, 1990 (age 35)        7

[1085 rows x 6 columns]
INDEX: 18:
            Name                  Team Bats Throws              Date of Birth  \
0  Jharel Cotton  San Francisco Giants    R      R  January 19, 1992 (age 33)

   Seasons
0        4
INDEX: 19:
               Name                  Team Bats Throws  \
0    Adbert Alzolay          Chicago Cubs    R      R
1    Adrián Sánchez  Washington Nationals    R      R
2   Alcides Escobar  Washington Nationals    R      R
3       Ali Sánchez   St. Louis Cardinals    R      R
4    Andrés Giménez   Cleveland Guardians    L      R
..              ...                   ...  ...    ...
90     Wilson Ramos            Free Agent    R      R
91       Yohel Pozo         Texas Rangers    R      R
92    Yonathan Daza      Colorado Rockies    R      R
93  Yonny Hernández  Arizona Diamondbacks    S      R
94   Yusmeiro Petit      San Diego Padres    R      R

                 Date of Birth  Seasons
0       March 1, 1995 (age 30)        3
1     August 16, 1990 (age 35)        4
2   December 16, 1986 (age 38)       12
3    January 20, 1997 (age 28)        2
4   September 4, 1998 (age 26)        2
..                         ...      ...
90    August 10, 1987 (age 38)       12
91      June 14, 1997 (age 28)        1
92  February 28, 1994 (age 31)        2
93        May 4, 1998 (age 27)        1
94  November 22, 1984 (age 40)       14

[95 rows x 6 columns]
INDEX: 20:
           Name                Team Bats Throws           Date of Birth  \
0  Austin Brice  Pittsburgh Pirates    R      R  June 19, 1992 (age 33)

   Seasons
0        7
INDEX: 21:
                  Name                 Team Bats Throws  \
0           Yu Darvish     San Diego Padres    R      R
1    Shintaro Fujinami        New York Mets    R      R
2        Shota Imanaga         Chicago Cubs    L      L
3        Yusei Kikuchi       Houston Astros    L      L
4          Kenta Maeda       Detroit Tigers    R      R
5          Yuki Matsui     San Diego Padres    L      L
6        Shohei Ohtani  Los Angeles Dodgers    L      R
7          Kodai Senga        New York Mets    L      R
8         Seiya Suzuki         Chicago Cubs    R      R

In [20]:
players = players[2:30]

In [27]:
allPlayers = pd.concat(players, ignore_index=True)

In [28]:
allPlayers

,Name,Team,Bats,Throws,Date of Birth,Seasons,Tem,Team(s)
0,Tayler Scott,Houston Astros,R,R,"June 1, 1992 (age 33)",5.0,NaN,NaN
1,Xander Bogaerts,NaN,R,R,"October 1, 1992 (age 32)",13.0,San Diego Padres,NaN
2,Chadwick Tromp,NaN,R,R,"March 21, 1995 (age 30)",6.0,Boston Red Sox,NaN
3,Jazz Chisholm Jr.,New York Yankees,L,R,"February 1, 1998 (age 27)",6.0,NaN,NaN
4,Yan Gomes,NaN,R,R,"July 19, 1987 (age 38)",12.0,NaN,Chicago Cubs
...,...,...,...,...,...,...,...,...
1497,Curtis Mead,Tampa Bay Rays,R,R,"October 26, 2000 (age 24)",2.0,NaN,NaN
1498,Jack O'Loughlin,Oakland Athletics,L,L,"March 14, 2000 (age 25)",1.0,NaN,NaN
1499,Alexander Wells,Baltimore Orioles,L,L,"February 27, 1997 (age 28)",2.0,NaN,NaN
1500,Aaron Whitefield,Los Angeles Angels,R,R,"September 2, 1996 (age 28)",2.0,NaN,NaN
1501,Sean Reid-Foley,New York Mets,R,R,"August 30, 1995 (age 29)",5.0,NaN,NaN