In [1]:
# pip install pandas
# pip install scikit-learn

In [2]:
import pandas as pd
import numpy as np

In [3]:
ajdata = pd.read_html("https://www.baseball-reference.com/players/j/judgeaa01.shtml")

In [4]:
ajdata[1]

,Season,Age,Team,Lg,WAR,G,PA,AB,R,H,...,rOBA,Rbat+,TB,GIDP,HBP,SH,SF,IBB,Pos,Awards
0,2016,24,NYY,AL,-0.3,27,95,84,10,15,...,0.272,60,29,2,1,0,1,0,9/H,NaN
1,2017,25,NYY,AL,8.1,155,678,542,128,154,...,0.435,172,340,15,5,0,4,11,*9D/H,"AS,MVP-2,ROY-1,SS"
2,2018,26,NYY,AL,6.0,112,498,413,77,115,...,0.396,152,218,10,4,0,5,3,9D/H8,"AS,MVP-12"
3,2019,27,NYY,AL,5.6,102,447,378,75,103,...,0.393,148,204,11,3,0,1,4,9D/H,NaN
4,2020,28,NYY,AL,1.1,28,114,101,23,26,...,0.379,145,56,5,2,0,0,0,9/DH,NaN
5,2021,29,NYY,AL,5.9,148,633,550,89,158,...,0.392,150,299,16,3,0,5,2,*98D/H,"AS,MVP-4,SS"
6,2022,30,NYY,AL,10.8,157,696,570,133,177,...,0.463,208,391,14,6,0,5,19,*89D/H,"AS,MVP-1,SS"
7,2023,31,NYY,AL,4.6,106,458,367,79,98,...,0.421,172,225,5,0,0,3,9,9D8/H,"AS,MVP-15"
8,2024,32,NYY,AL,10.8,158,704,559,122,180,...,0.484,223,392,22,9,0,2,20,*8D/97,"AS,MVP-1,SS"
9,2025,33,NYY,AL,6.8,113,501,409,95,136,...,0.457,208,282,12,4,0,5,28,9D/H,AS
10,10 Yrs,10 Yrs,10 Yrs,10 Yrs,59.4,1106,4824,3973,831,1162,...,0.429,177,2436,112,37,0,31,96,98DH/7,NaN
11,162 Game Avg,162 Game Avg,162 Game Avg,162 Game Avg,8.7,162,707,582,122,170,...,0.429,177,357,16,5,0,5,14,NaN,NaN

In [19]:
players = pd.read_html("https://en.wikipedia.org/wiki/List_of_active_Major_League_Baseball_players_by_country_of_birth")
len(players)

31

In [56]:
players = players[2:30]

In [116]:
allPlayers = pd.concat(players, ignore_index=True)
allPlayers = allPlayers.drop(allPlayers[allPlayers.Name == "Chi Chi Gonzalez"].index)
allPlayers = allPlayers.drop(allPlayers[allPlayers.Name == "Michael A. Taylor"].index)
allPlayers = allPlayers.reset_index()

In [132]:
import unicodedata

def remove_accents(input_str):
    """
    Removes accent marks (diacritics) from a Unicode string.
    """
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return "".join([c for c in nfkd_form if not unicodedata.combining(c)])

def remove_jr(input_str):
    return input_str.replace(" Jr.", "")

def shrink_initials(input_str):
    if input_str.count(".") == 2:
        return f"{input_str[0]}{input_str[3]}{input_str[5:]}"
    else:
        return input_str

def compress_lnames(input_str):
    if input_str.count(" ") > 1 and input_str.count(".") == 0:
        last_names = input_str.split(" ")[1:]
        return f"{input_str.split(" ")[0]} {"".join([name for name in last_names])}"
    else:
        return input_str

def remove_hyphens(input_str):
    return input_str.replace("-", "")

def remove_apostrophe(input_str):
    return input_str.replace("'", "")

def to_lower(input_str):
    return input_str.lower()

allPlayers["Name"] = allPlayers["Name"].apply(remove_accents).apply(remove_jr).apply(shrink_initials).apply(compress_lnames).apply(remove_hyphens).apply(remove_apostrophe).apply(to_lower)

In [133]:
for name in allPlayers.Name:
    if name.count("-") >= 1:
        print(name)

In [134]:
allPlayers

,index,Name,Team,Bats,Throws,Date of Birth,Seasons,Team(s)
0,0,jazz chisholm,New York Yankees,L,R,"February 1, 1998 (age 27)",6.0,NaN
1,1,yan gomes,NaN,R,R,"July 19, 1987 (age 38)",12.0,Chicago Cubs
2,2,tyler black,Milwaukee Brewers,L,R,"July 26, 2000 (age 25)",2.0,NaN
3,3,matt brash,Seattle Mariners,R,R,"May 12, 1998 (age 27)",3.0,NaN
4,4,owen caissie,Chicago Cubs,L,R,"July 8, 2002 (age 23)",1.0,NaN
...,...,...,...,...,...,...,...,...
1492,1494,curtis mead,Tampa Bay Rays,R,R,"October 26, 2000 (age 24)",2.0,NaN
1493,1495,jack oloughlin,Oakland Athletics,L,L,"March 14, 2000 (age 25)",1.0,NaN
1494,1496,alexander wells,Baltimore Orioles,L,L,"February 27, 1997 (age 28)",2.0,NaN
1495,1497,aaron whitefield,Los Angeles Angels,R,R,"September 2, 1996 (age 28)",2.0,NaN
1496,1498,sean reidfoley,New York Mets,R,R,"August 30, 1995 (age 29)",5.0,NaN

In [141]:
def outputFormattedURL(name):
    fname, lname = name.split(" ")
    return f"https://www.baseball-reference.com/players/{lname[0]}/{lname[0:5]}{fname[0:2]}01.shtml"

outputFormattedURL("sean reidfoley")

'https://www.baseball-reference.com/players/r/reidfse01.shtml'